# It's a bad idea to include a package requiring a c extension here,
# as the plugin will become much harder to distribute.
# The `vendoring` package is configured to remove `websockets.speedups`.
websockets==14.2
python-dateutil==2.8.1
typing-extensions==4.12.2
realtime==2.4.0
sentry-sdk==2.27.0
